/*
	green: #AFD5AA;
	offwhite: #F0F2EF;
	blue: #78E0DC;
	brown: #5C5346;
	silver: #898980;
*/


/*responsive--> make sure to take out the height in the end*/

body{
	font-family: Trebuchet MS;
	color:#5C5346;
}

#container{
	background-color:#F0F2EF;
	margin-bottom: 20px;
}

#header{
	font-size:50px;
	background-color: #78E0DC;
	text-align: center;
	color:black;
}

#header h1{
	font-size: 100px;
}

#main_content{
	text-align: center;
}

#left{
	width:500px;
	margin-right:50px;
}

#left h1, #right h1{
	font-size:50px;
}

.index_description{
	margin-top: 60px;
	margin-bottom: 60px;
}

.index_description1{
	margin-top: 60px;
	margin-bottom: 60px;
}

.jobs{
	height:100px;
	background-color: #78E0DC;
	overflow: auto;
	color:black;
}

#employee_login{
	margin-top: -18px;
}
.jobs p{
	color: black;
}

#help{
	margin-top: -20px;
}

h3{
	font-size:40px;
}


.form{
	margin-left:100px;
}
/*start of the form*/
ul{
	list-style: none;
	padding:0px;
	margin:0px;
}

.register_class{
	display: block;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 30px;
	margin-bottom: 40px;
	padding-left:2px;
	border-radius:5px 5px 0px 0px;
	height:60px;
	width:300px;
	background-color: #78E0DC;
	color:white;


}

label{
	display: block;
	float:left;
	height:15px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	overflow: hidden;
	margin-top: -15px;
	background-color: #5C5346;
	border:none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}


.register_button{
	margin-left:230px;
	border-radius: 2px;
}

.register_class input[type="text"], .register_class input[type="email"], .register_class input[type="password"], .register_class input[type="number"]{
	width:100%;
	display:block;
	border:none;
	background-color: #78E0DC;
	height:50px;
	font-size:20px;
	color:#898980;

}


.register_class label{
	background-color: #5C5346;
}
.reg_sign{
	background-color: #5C5346;
	display:block;
	text-align: center;
	margin-bottom:-25px;
	margin-left:-3px;
	margin-right:-1px;
	font-size:10px;
	border:1px solid black;
	padding-left:3px;
	padding-right:3px;
	
}


/*end of the form*/
#left, #right{
	vertical-align: top;
	display: inline-block;
	width:500px;
	text-align: center;
}


.button2{
	height:40px;
	width:80px;
	background-color: #898980;
	margin-left: -90px;
	color:white;
}



button:hover{
	background-color:#78E0DC ;
	color:white;
}






