
<div>
	<div id='container'>
		<div class='header'>
			<h1>Opportunity Works</h1>
		</div>
		<a ng-click='logout()'>Logout</a>
		<div id='main_content'>
			<div id='left'>
				<div class='content'>
					<h3>Current Job Listings</h3>
					<div ng-repeat='job in currentJobs'>
						<div ng-if='job.completed==false'>
							<div ng-if='job.employed==false' class='jobs'>
								<h4>Job: {{job.title}}</h4>
								<p>Description: {{job.description}}</p>
								<p>Payment: {{job.payment}}</p>
								<p>Location: {{job.street}}, {{job.city}}</p>
								<p>Posted: {{job.createdAt | date: 'MMMM dd, yyyy'}}</p>
							</div>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div>
			<div id='right'>
					<h3>Add a Job</h3>
					
					<div class='form'>
					<form>
						<ul>
							<li class='register_class'>
								<label for='title'>Title</label>
								<input type='text' ng-model='newJob.title'>
								<span class='reg_sign'>Name of the Job</span>
							</li>

							<li class='register_class'>
								<label for='description'>Description</label>
								<input type='text' ng-model='newJob.description'>
								<span class='reg_sign'>Job Description</span>
							</li>

							<li class='register_class'>
								<label for='street'>Street</label>
								<input type='text' ng-model='newJob.street'>
								<span class='reg_sign'>Street Address</span>
							</li>
							<li class='register_class'>
								<label for='city'>City</label>
								<input type='text' ng-model='newJob.city'>
								<span class='reg_sign'>City</span>
							</li>
							<li class='register_class'>
								<label for='zipcode'>Zipcode</label>
								<input type='text' ng-model='newJob.zipcode'>
								<span class='reg_sign'>Zip</span>
							</li>
							<li class='register_class'>
								<label for='payment'>Payment</label>
								<input type='text' ng-model='newJob.payment'>
							</li>
						</ul>
						<input type='hidden' ng-value='newJob._employer=biz_info.id'>
						<button ng-click='addJob()'>Submit</button>
					</form>
				</div>
				</div>
				<div id='bottom'>
					<h3>Open Jobs</h3>
					<div ng-repeat='job in currentJobs'>
						<div ng-if='job.employed==true' class='jobs'>
							<h4>Job: {{job.title}}</h4>
							<p>Description: {{job.description}}</p>
							<p>Location: {{job.street}}, {{job.city}}&nbsp&nbsp&nbsp&nbsp&nbspPayment: {{job.payment}}&nbsp&nbsp&nbsp&nbsp&nbspPosted: {{job.createdAt | date: 'MMMM dd, yyyy'}}</p>
							<button ng-click='completed(job._id)'>Completed</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id='footer'>
		</div>
	</div>
</div>