<!-- <link rel="stylesheet" type="text/css" href="../static/style.css"> -->
<!-- <script src='http://use.fontawesome.com/e850b7775b.js'></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
<script>

// $(document).ready(function(){
// 	$("#reg_employee").click(function(){
// 		$('#b_login').toggleClass("second");
// 		$("#u_reg").toggleClass("second");
// 		$("#reg_button_employee").toggleClass("second");
// 	})

// 	$("#reg_bus_button").click(function(){
// 		$('#business_registration').toggleClass("second");
// 		$('#employee_login').toggleClass("second");
// 		$("#reg_bus_button").toggleClass("second")
// 	})

// })

</script>
<div id='header'>
	<h1>Opportunity Works</h1>
</div>
<div id='main_content'>
<div id='left'>
	<h1>Employer</h1>
	<div class='employer_pics'>
		<i class="fa fa-location-arrow fa-5x" aria-hidden="true"></i>
		<i class="fa fa-wrench fa-5x" aria-hidden="true"></i>
	</div>
	<div class='index_description'>
		<p>Looking to give a EDITNAMEHERE an opportunity to earn money?</p>
		<p>Post small and quick jobs that can be completed by one person</p>
		<p>Pick your price and see your small task get done in a timely manner</p>
	</div> 


	<div ng-if='biz_login' id='b_login' class='first'>
		<h2>Business Login</h2>
		<form>
		<div class='form'>
			<ul>
			<li class='register_class'>
				<label for='Email'>Email</label>
				<input type="email" ng-model='busInfo.email'>
				<span class='reg_sign'>Email</span>
			</li>
			<li class='register_class'>
				<label for='Password'>Password</label>
				<input type="password" ng-model="busInfo.password">
				<span class='reg_sign'>Password</span>
			</li>
			</ul>
			<button ng-click='login(busInfo)' class='button2'>Login</button>
		</div>
		</form>

		<div id='reg_bus_button' class='first'>
		<h2>Sign Up to get your jobs done!</h2>
		<button ng-click='showRegBiz()' id='reg_bus' class='button1'>Register Business</button>
		</div>
	</div>

	<div ng-if='employee_reg' id='u_reg'> <!--class='second'>-->
		<form>

		<h2>Employee Registration</h2>
		<div class='form'>
			<ul>
				<li class='register_class'>
					<label for='name'>Name</label>
					<input type='text' ng-model='userReg.name'>
					<span class='reg_sign'>Name of Employee</span>
				</li>

				<li class='register_class'>
					<label for='username'>Username</label>
					<input type='text' ng-model='userReg.username'>
					<span class='reg_sign'>Username of Employee</span>
				</li>

				<li class='register_class'>
					<label for='city'>City</label>
					<input type='text' ng-model='userReg.city'>
					<span class='reg_sign'>City</span>
				</li>
			
				<li class='register_class'>
					<label for='zip Code'>Zip Code</label>
					<input type='number' ng-model='userReg.zipCode'>
					<span class='reg_sign'>Zip</span>
				</li>

				<li class='register_class'>
					<label for='password'>Password</label>
					<input type='password' ng-model='userReg.password'>
					<span class='reg_sign'>Password</span>
				</li>
			</ul>
		</div>
		<button ng-click='userRegistration()'>Register</button>
		</form>
	</div>
</div>








<div id='right'>

	<h1>Employee</h1>
	<div class='employer_pics'>
		<i class="fa fa-briefcase fa-5x" aria-hidden="true"></i>
		<i class="fa fa-money fa-5x" aria-hidden="true"></i>
	</div>

	<div class='index_description1'>
		<p>Looking for an opportunity to make some extra cash?</p>
		<p>Browse jobs through small jobs that are local to you</p>
		<p>Find yourself with an autocompleted resume that includes your job history from our website</p>
	</div>
	<div ng-if='employeeLogin' id='employee_login' class='first'>
		<h2>Employee Login</h2>
		<div class='form'>
		<form>
			<ul>
				<li class='register_class'>
					<label for='username'>Username</label>
					<input type='text' ng-model='userInfo.username'>
					<span class='reg_sign'>Username</span>
				</li>
				<li class='register_class'>
					<label for='password'>Password</label>
					<input type='password' ng-model='userInfo.password'>
					<span class='reg_sign'>Password</span>
				</li>
			</ul>
			<button ng-click="userLogin()" class='button2'>Login</button>
		</form>
		</div>
		<div id='reg_button_employee' class='first'>
	<h2>Not a Member? Join now to seize the opportunity!</h2>
	<button ng-click='showEmployeeReg()' id='reg_employee' class='button1'>Employee Register</button>
	</div>
	</div>


	<div ng-if='biz_reg' id='business_registration'><!-- class='second'>-->
		<h2>Business Registration</h2>
		<form>
		<div class='form'>
			<ul>
			<li class='register_class'>
				<label for='Name'>Name</label>
				<input type="text" ng-model="busRegInfo.name">
				<span class='reg_sign'>Name of Business</span>
			</li>
			<li class='register_class'>
				<label for='Street'>Street:</label>
				<input type="text" ng-model="busRegInfo.street">
				<span class='reg_sign'>Address of Business</span>
			</li>
			<li class='register_class'>
				<label for='City'>City:</label>
				<input type="text" ng-model="busRegInfo.city">
				<span class='reg_sign'>City</span>
			</li>
			<li class='register_class'>
				<label for='Zipcode'>Zipcode</label>
				<input type="text" ng-model="busRegInfo.zipCode">
				<span class='reg_sign'>Zip</span>
			</li>				

			<li class='register_class'>
				<label for='Email'>Email</label>
				<input type="email" ng-model='busRegInfo.email'>
				<span class='reg_sign'>Email</span>
			</li>
			<li class='register_class'>
				<label for='Password'>Password</label>
				<input type="password" ng-model="busRegInfo.password">
				<span class='reg_sign'>Password</span>
			</li>
			</ul>
		</div>
		<button ng-click='register()'>Register</button>
		</form>
	</div>

</div>

