<div>
	<h4>Business Login</h4>
	<form>
		<input type="text" ng-model="busInfo.email">
		<input type="password" ng-model="busInfo.password">
		<button ng-click="login(busInfo)">Login</button>
	</form>
	<h4>Business Registration</h4>
	<form>
			<!-- Name:  -->
		<!-- <input type="string" ng-model="busRegInfo.name"> -->
		<!-- Street: 
		<input type="string" ng-model="busRegInfo.street">
		City: 
		<input type="string" ng-model="busRegInfo.city">
		Zipcode: 
		<input type="string" ng-model="busRegInfo.zipCode"> -->
		Email: 
		<input type="email" ng-model='busRegInfo.email'>
		Password: 
		<input type="password" ng-model="busRegInfo.password">
		<button ng-click="register()">Register</button>
	</form>
	<h3>User Login</h3>
		<form>
			<label for='username'>Username</label>
			<input type='text' ng-model='userInfo.username'>
			<label for='password'>Password</label>
			<input type='password' ng-model='userInfo.password'>
			<button ng-click='userLogin()'>Login</button>
		</form>
	<h3>User Registration</h3>
		<form>
			<label for='name'>Name</label>
			<input type='text' ng-model='userReg.name'>
			<label for='username' ng-model='userReg.username'
			<label for='city'>City</label>
			<input type='text' ng-model='userReg.city'>
			<label for='zip Code'>Zip Code</label>
			<input type='number' ng-model='userReg.zipCode'>
			<lable for='password'>Password</lable>
			<input type='password' ng-model='userReg.password'>
			<button ng-click='userRegistration()'>Register</button>
		</form>
</div>

