<link rel="stylesheet" type="text/css" href="../static/style.css">



<div>

	<div id='container'>
		<div id='header'>
			<h1>Welcome, ____________</h2>
		</div>
		<div id='main_content'>
			<div id='left'>
				<div class='content'>
					<h3>Current Jobs</h3>
					<div class='jobs'>
						<p>here is a job</p>
						<p>more info about it</p>
						<p>and some more stuff too</p>
						<p> just need to see if overflow is working the way that I want it to</p>
					</div>
					<h3>Open Jobs</h3>
					<div class='jobs'>
						<p>here is a job</p>
					</div>

					<br>
					<br>
				</div>
			</div>
			<div id='right'>
					<h3>Add a Job</h3>
					<ul>
					<div class='form'>
						<li class='register_class'>
							<label for='Title'>Title</label>
							<input type='text'>
							<span class='reg_sign'>Name of the Job</span>
						</li>

						<li class='register_class'>
							<label for='Description'>Description</label>
							<input type='text'>
							<span class='reg_sign'>Job Description</span>
						</li>

						<li class='register_class'>
							<label for='Location_street'>Street</label>
							<input type='text'>
							<span class='reg_sign'>Street Address</span>
						</li>
						<li class='register_class'>
							<label for='Location_city'>City</label>
							<input type='text'>
							<span class='reg_sign'>City</span>
						</li>
						<li class='register_class'>
							<label for='Location'>Zipcode</label>
							<input type='text'>
							<span class='reg_sign'>Zip</span>
						</li>
						<li class='register_class'>
							<label for='Expiration_date'>Completion Date</label>
							<input type='text'>
							<span class='reg_sign'>Date to be Completed</span>
						</li>

						<button ng-click='userRegistration()'>Register</button>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>