<div id = 'user'>
	<h4>Welcome, {{user.username}}</h4>
	<button ng-click = "resume()">See Resume For Past Jobs</button>

	<div id = 'currentJob' ng-if = 'current'>
		<h4>Current Job Taken</h4>
		<h2>{{currentJob.title}}</h2>
		<p>Address: {{currentJob.street}} {{currentJob.city}}, {{currentJob.zipcode}}
		<p class = 'descript'>{{currentJob.description}}</p>
	</div>

	<div id = 'allJobs'>
		<h2>All available jobs in {{user.city}}</h2>

		<div ng-repeat = "job in jobs">
			<h2>Title: {{job.title}}</h2>
			<p>Created at: {{job.createdAt}}</p>
			<p>Address: {{job.street}} {{job.city}}, {{job.zipcode}}</p>
			<p>Description: {{job.description}}</p>
			<button ng-click = "job.accept = true">Accept Job</button>
			<div ng-show = "job.accept">
				<p>Employer: {{job._employer.name}}</p>
				<p>Email: {{job._employer.email}}</p>
				<button ng-click = "confirmJob(job)">Confirm</button>
			</div>
		</div>
	</div>
</div>
